In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
import pickle
from tensorflow.keras.models import load_model

WARNING:tensorflow:From D:\ML\ann-project@dl\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [6]:
### Load the ANN trained model , scaler pickle file , encoders
model = load_model('model.h5')

## Load the encoder and scaler
with open('label_encoder_gender.pkl','rb') as f:
    label_encoder_gender = pickle.load(f)

with open('onehot_encoder_geo.pkl','rb') as f:
    label_encoder_geo = pickle.load(f)

with open('scaler.pkl','rb') as f:
    scaler = pickle.load(f)

In [29]:
input_data = {
    'CreditScore':600,
    'Geography':'France',
    'Gender':'Male',
    'Age':40,
    'Tenure' : 3,
    'Balance':60000,
    'NumOfProducts':2,
    'HasCrCard' : 1,
    'IsActiveMember' : 1,
    'EstimatedSalary':50000,
}

In [30]:
geo_encoded = label_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df =pd.DataFrame(geo_encoded,columns=label_encoder_geo.get_feature_names_out(['Geography']))

D:\ML\ann-project@dl\venv\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [31]:
geo_encoded_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [32]:
df = pd.DataFrame([input_data])

In [33]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [34]:
## Encode Gender
df['Gender'] = label_encoder_gender.transform([input_data['Gender']])

In [35]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [36]:
df = pd.concat([df.drop('Geography',axis=1),geo_encoded_df],axis=1)

In [37]:
df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [41]:
### Scaling the data
X_new_scaled = scaler.transform(df)

In [43]:
## predict
prediction = model.predict(X_new_scaled)

1/1 [==============================] - 0s 22ms/step

In [44]:
probability = prediction[0][0]

In [45]:
probability

0.02909306